.cardProductos {
    margin: 30px;
    justify-content: center;
}

.cardProducto {
    width: 17rem;
    margin: 25px;
    background-color: hsl(0, 0, 97%);
}

.cardBody {
    background-color: white;
    text-align: center;
}

.img {
    margin-top: 3px;
}

.itemDetail {
    max-width: 760px;
    margin-top: 30px;
}

.contForm {
    margin-top: 20px;
}

.colorWhite {
    color: white;
}

.colorText {
    color: #757575;
}

.btns {
    margin: 10px;
}

.alert {
    color: red;
}

.cardCart{
    max-width: 1000px;
    margin: 15px;
}

.card-img{
    width: 300px;
    height: auto;
}

.divButtons {
    display: flex;
}

.textMargin{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.sinProductos {
    margin-top: 15px;
}